<template>
<div>
    <div class="py-2 px-3 bg-light border-bottom">
        <div class="d-flex justify-content-between">
            <div>Upload <span style="font-weight:500">contract</span></div>
        </div>
    </div>
    <div class="control-body">
        <form>
            <div class="form-group">
                <label>Smart contract address</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>ABI code for the contract</label>
                <textarea class="form-control" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save contract</button>
        </form>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
