<template>
<div>
  <div class="py-2 px-3 bg-light border-bottom">
    <div class="d-flex justify-content-between">
      <div>Settings</div>
    </div>
  </div>

</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
