<template>
<div>
  <div class="py-2 px-3 bg-light border-bottom">
    <div class="d-flex justify-content-between">
      <div>Contract: <a href="#"><span style="font-weight:500">0x285aF0EE9E705EDA67cF5CbA8ACC4Bd2DA35b15b</span></a></div>
      <div>Contract Creator: <a href="#">Address</a></div>
    </div>
  </div>

  <div class="control-body">
              <div class="row text-center">
                <div class="col-md-4">
                  <div class="info-group">
                    <small>Contract Name</small>
                    <div><span>multiply</span></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-group">
                    <small>Transactions</small>
                    <div><span>3</span></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-group">
                    <small>Created in Blockchain</small>
                    <div><span>4 hours ago</span></div>
                  </div>
                </div>
              </div>
    <hr>
    <div class="info-body">
                <div class="row text-center">
                  <div class="col-md-3">
                    <div class="info-group">
                      <small>Balance</small>
                      <div><span>22.78</span></div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="info-group">
                      <small>In</small>
                      <div>253.52</div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="info-group">
                      <small>Out</small>
                      <div>185.25</div>
                    </div>
                  </div>
                 <div class="col-md-3">
                    <div class="info-group">
                      <small>Turnover</small>
                      <div><span>423.45</span></div>
                    </div>
                  </div>
                </div>
    </div>
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
