<template>
<div>
    <div class="py-2 px-3 bg-light border-bottom">
        <div class="d-flex justify-content-between">
            <div>Live tracker</div>
        </div>
    </div>
    <div class="control-body">
        <form class="mb-4">
            <div class="form-group">
                <label>Target address</label>
                <input type="text" class="form-control" v-model="target.addr">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>ABI code</label>
                        <textarea class="form-control" v-model="target.abi"></textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success">Launch web3 tracker</button>
                        <button class="btn btn-info">Launch etherscan tracker</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-group text-center">
                        <li class="list-group-item">CurrentReceiver</li>
                        <li class="list-group-item">CurrentReceiver</li>
                        <li class="list-group-item">CurrentReceiver</li>
                        <li class="list-group-item">CurrentReceiver</li>
                        <li class="list-group-item">CurrentReceiver</li>
                        <li class="list-group-item">CurrentReceiver</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            target: {
                addr: '0x285aF0EE9E705EDA67cF5CbA8ACC4Bd2DA35b15b',
                abi: ''
            }
        }
    }
}
</script>

<style>

</style>
