<template>
<div class="position-relative shadow">
    <div 
        class="d-flex justify-content-between pointer"
        :class="selectAddr"
    >
        <div class="pl-3 border-right" style="overflow:hidden;width:88%;padding: 12px 0">0x285aF0EE9E705EDA67cF5CbA8ACC4Bd2DA35b15b</div>
        <div
            style="width: 12%;" 
            class="d-flex align-items-center justify-content-center"
            @click="active = !active"
        >
            <i class="fas fa-angle-down"></i>
        </div>
    </div>
    <ul 
        class="address-list list-group bg-white shadow" 
        style="font-size: 15px;width:100%"
        v-if="active"
    >
        <li class="address-item list-group-item list-group-item-action list-group-item-light px-2 text-center">0x285aF0EE9E705EDA67cF5CbA8ACC4Bd2DA35b15b</li>
    </ul>
</div>
</template>

<script>
export default {
    data() {
        return {
            currentAddr: null,
            active: false
        }
    },
    computed: {
        selectAddr() {
            return this.active ? ['bg-info', 'text-light'] : ['bg-white']
        }
    }
}
</script>

<style>
    .address-list {
        position: absolute;
        z-index: 10;
    }
    .address-list li:first-child {
        border-radius: 0;
    }
    .address-item {
        cursor: pointer
    }
</style>
