<template>
<div>
    <search-board class="mb-4 mx-auto"></search-board>

    <div class="button-control mb-3">
        <button
            class="btn mr-2"
            v-for="(btn, index) in componentNames"
            :key="index"
            :class="{'btn-primary': currentComponentIndex == index, 'btn-info': currentComponentIndex != index}"
            @click="switchComponent(index)"
        >{{ btn.name }}</button>
    </div>

    <div class="mb-4 bg-white border rounded">
        <component
            :is="currentComponent"
        ></component>
    </div>

</div>
</template>

<script>
import panelInfo from './panel/PanelInfo.vue'
import panelTracker from './panel/PanelTracker.vue'
import panelUpload from './panel/PanelUpload.vue'
import panelSettings from './panel/PanelSettings.vue'
import searchBoard from './panel/SearchBoard.vue'
import quickSave from './QuickSave.vue'

export default {
    data() {
        return {
            componentNames: [
                {
                    name: 'Information',
                    value: 'panelInfo'
                },
                {
                    name: 'Tracker',
                    value: 'panelTracker'
                },
                {
                    name: 'Upload contract',
                    value: 'panelUpload'
                },
                {
                    name: 'Settings',
                    value: 'panelSettings'
                }
            ],
            currentComponentIndex: 0
        }
    },
    computed: {
        currentComponent() {
            return this.componentNames[this.currentComponentIndex].value
        }
    },
    methods: {
        switchComponent(i) {
            this.currentComponentIndex = i;
        }
    },
    components: {
        panelInfo,
        panelTracker,
        panelUpload,
        panelSettings,
        searchBoard,
        quickSave,
    }
}
</script>

<style>

</style>
