<template>
        <div class="row">
          <div class="col-lg-5">
            <control-panel></control-panel>
          </div>
          <div class="col-lg-7">
            <div class="dashboard-info">
              <div class="row">
                <div class="col-md-6">
                  <div class="trackBoard">
                    <div class="d-flex align-items-center mb-1">
                      <div class="mx-auto">
                        currentReceiverIndex
                      </div>
                      <div class="trackBoard-icon bg-info shadow">
                        <span class="text-white fa-2x">25</span>
                      </div>
                    </div>
                    <!-- to be continued -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="trackBoard">
                    <div class="mb-1">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <div class="trackBoard-icon bg-info shadow">
                            <i class="fab fa-ethereum fa-2x text-light"></i>
                          </div>
                        </div>
                        <div class="col-lg-7">
                          <div class="text-center">
                            <div class="text-muted">currentReceiverIndex</div>
                            <div class="fa-2x"><strong>25</strong></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- to be continued -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</template>

<script>
import controlPanel from './ControlPanel.vue'

export default {
  data () {
    return {
      web3: null,
      contractInstance: null,
      rawData: {
        abi: `[{"constant":true,"inputs":[],"name":"MULTIPLIER","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"currentReceiverIndex","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"depositor","type":"address"}],"name":"getDeposits","outputs":[{"name":"idxs","type":"uint256[]"},{"name":"deposits","type":"uint128[]"},{"name":"expects","type":"uint128[]"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"idx","type":"uint256"}],"name":"getDeposit","outputs":[{"name":"depositor","type":"address"},{"name":"deposit","type":"uint256"},{"name":"expect","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getQueueLength","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"PROMO_PERCENT","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"depositor","type":"address"}],"name":"getDepositsCount","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"payable":true,"stateMutability":"payable","type":"fallback"}]`,
        address: '0xB1A6B21086fac49D78E08D65eB3FA8432c338Aa8'
      },
      addr: null,
      abi: null,
      queue: 0,
      currentReceiver: 0,
      loading: null,
    }
  },
  mounted() {
    this.web3 = new Web3(new Web3.providers.HttpProvider("https://mainnet.infura.io/metamask"));
    console.log(this.web3);
  },
  methods: {
    submitform() {
      if (this.rawData.address != '' && this.rawData.abi != '') {
        this.addr = this.rawData.address;
        this.abi = JSON.parse(this.rawData.abi);
        this.contractInstance = new this.web3.eth.Contract(this.abi, this.addr);
        this.get()
        //this.currentReceiver = this.contractInstance.methods.getDeposits().call();
      }
    },
    get() {
        this.loading = true;
        this.contractInstance.methods.currentReceiverIndex().call()
          .then(response => {
           this.currentReceiver = response
           this.loading = false;
          });
        this.contractInstance.methods.getQueueLength().call()
          .then(response => {
            this.queue = response
            this.loading = false;
          });
        this.getBalance()
    },
    getBalance() {
      this.$http.get('https://api.etherscan.io/api?module=account&action=txlist&address=' + this.addr + '&startblock=1&endblock=99999999&sort=asc&apikey=YourApiKeyToken')
        .then(response => {
          console.log(response);
        })
    }
  },
  components: {
      controlPanel
  }
}
</script>

<style>
  .trackBoard {
    position: relative;
    background: #fff;
    padding: .5rem .8rem;
  }
  .trackBoard-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 2px;
  }
</style>
