<template>
<div>
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
</template>

<script>
export default {
}
</script>

<style>

</style>
