<template>
<div>
    <form>
        <div class="form-group">
            <label>Address to track</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Paste ABI code from the contract</label>
            <textarea class="form-control" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Track the contract</button>
    </form>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
