<template>
  <div id="app">
    <div class="d-flex">
      <div style="width: 15%">
        <div class="p-3" style="height: 100vh; background: #fafafa">
          <ul class="list-group" style="font-size: 18px">
            <router-link tag="li" exact to="/" class="list-group-item" active-class="active"><i class="fas fa-home mr-2"></i>Main</router-link>
            <router-link tag="li" to="/list" class="list-group-item" active-class="active"><i class="fas fa-list-ul mr-2"></i>Contracts list</router-link>
          </ul>
        </div>
      </div>
      <div class="py-5 px-4" style="width: 85%">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
  body {
    background: #DDE0E5;
    overflow-x: hidden
  }
  .app-bg-grey {
    background: #DDE0E5
  }
  .app-text-grey {
    color: #DDE0E5
  }
  .pointer {
    cursor: pointer
  }
  .control-body {
    padding: 1rem .75rem
  }
</style>
